---
layout: default
title: Jaehjoo Record
---
{% include tagsBar.html %}
<ul class="post-list">
    {% for post in site.posts %}
    <li class="post" data-tags="{{ post.tags | join: ' '}}" onclick="loadPost('{{post.title}}', '{{post.content | escape | strip_newlines | json }}', '{{ post.url }}')">
        <img class="post-image" src={{ site.drive }}{{ post.image }}>
        <h3>{{ post.title }}</h3>
        <p>{{ post.excerpt }}</p>
    </li>
    {% endfor %}
</ul>
<div class="pagination">
    <button class="page-button" id="prev-page">&lt;</button>
    <span id="page-info">1 / 10</span>
    <button class="page-button" id="next-page">&gt;</button>
</div>
<script src="assets/js/tagMatchingPost.js"></script>
<script src="assets/js/selectPostLoaded.js"></script>
<script src="assets/js/pagination.js"></script>